.custom-container {
  /* width: max-content; */
  width: fit-content;
  transform-style: preserve-3d;
}

.customButton {
  border: none;
  background-color: #7b807f;
  color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
}

.customBox:hover {
  outline: 2px solid rgb(84, 84, 243);
}

.customText {
  background-color: white;
}

.small-text {
  height: 50px;
}

.medium-text {
  height: 100px;
}

.large-text {
  height: 150px;
}

.small-button {
  height: 30px;
  width: 70px;
}

.medium-button {
  height: 60px;
  width: 140px;
}

.large-button {
  height: 100px;
  width: 220px;
}

.editComponent {
  position: absolute;
  bottom: calc(100% + 20px);
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
  transform: translateZ(-10px);
}

.edit-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.edit-delete-container {
  cursor: pointer;
  color: #d11a2a;
}

.editComponent hr {
  border: none;
  border-top: 2px solid #989e9d;
  width: 96%;
  height: 1px;
}

.edit-input {
  margin-right: 5px;
}

.img-input {
  width: calc(70% - 10px);
}

.edit-icon {
  cursor: pointer;
  font-size: 20px !important;
}
.edit-icon-static {
  cursor: auto !important;
}

.box-container {
  border: none;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
